<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <script>document.write('<base href="' + document.location + '" />');</script>

    <title>JRocket</title>

    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
    <jrocket>Loading...</jrocket>

    <!-- inject:js -->
    <!-- endinject -->

    <script>
        System.config({
            packages: {
                'components': {defaultExtension: 'js'},
                'services': {defaultExtension: 'js'}
            }
        });
        System.import('bootstrap.js');
    </script>

</body>
</html>
